<div class="row mt-3" style="margin: 5rem 10rem 0 10rem; height: 70em; padding-top: 5rem; background-color:#edf2f6;border-radius: 10px;">
	<div class="col-lg-2 col-md-4">
		<div class="card" style="width: 20rem; height: 15rem;;">
			<h5 class="card-header"> <b>Crear cliente</b></h5>
			<div class="card-body">			
				<p class="card-text">Registrar clientes nuevos.</p>			
			</div>
			<div class="card-footer">
				<a href="/user/maintenance" style="width: 100%;" class="btn btn-primary">Ir</a>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-4">
		<div class="card" style="width: 20rem; height: 15rem;">
			<h5 class="card-header"><b>Listar clientes</b></h5>
			<div class="card-body">				
				<p class="card-text">Buscar clientes ya registrados.</p>			
			</div>
			<div class="card-footer">
				<a href="/user/list" class="btn btn-primary" style="width: 100%;">Ir</a>
			</div>
		</div>
	
	</div>
</div>